.blog-tags a {
  @apply font-bold underline text-sea-glass;

  &:hover {
    @apply text-black;
  }
}

::-moz-selection {
  color: white;
  background: #18837d;
}

::selection {
  color: white;
  background: #18837d;
}
