.blog-tags a {
  @apply font-bold underline text-periwinkle;

  &:hover {
    @apply text-gray;
  }
}

::-moz-selection {
  color: white;
  background: #b392f0;
}

::selection {
  color: white;
  background: #b392f0;
}
