---

---

<nav>
  <div
    class="max-w-6xl mx-auto px-3 py-3 flex items-center justify-between h-20"
  >
    <a href="/" class="h-full"
      ><img
        src="/images/white-birch-horz.svg"
        alt="White Birch Software"
        class="h-full"
      /></a
    >
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>
